@{
    string userName = (User != null && User.Identity != null && !string.IsNullOrEmpty(User.Identity.GetUserName())) ? User.Identity.GetUserName() : "Guest";
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("admin") || User.IsInRole("candidateAdmin"))
            {
                if (User.IsInRole("candidateAdmin") && Session["TempChange"] != null)
                {
                    <li>@Html.ActionLink("ShowChanges", "ShowChanges", "TempChanges", null, new { @style = "color:#FF0000;" })</li>
                }
                <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
            }
            <li class="navbar-text">
                Hello, @userName!
            </li>
            
            @if (User.IsInRole("candidateAdmin") && Session["TempChange"] != null)
            {
                <li>@Html.ActionLink("LogOff", "ShowChanges", "TempChanges")</li>
            }
            else
            {
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                @*<li>@Html.ActionLink("LogOff", "LogOff", "Account")</li>*@
            }
            
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="navbar-text">
            Hello, @userName!
        </li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

